<!--
<nav class="navbar navbar-light navbar-toggleable-md fixed-top bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">DSO</a>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                    Home <span class="sr-only">(current)</span>
                </a>
                <a routerLink="/reporting" routerLinkActive="active" class="nav-link">Reporting</a>
                <a routerLink="/demo" routerLinkActive="active" class="nav-link">Demo</a>
                <a routerLink="/anotherdemo" routerLinkActive="active" class="nav-link">Another demo</a>
                <a routerLink="/lastdemo" routerLinkActive="active" class="nav-link">Last demo</a>
            </li>
        </ul>
    </div>
</nav>
-->
<!--<nav class="navbar navbar-light bg-faded">-->
<nav class="navbar navbar-light bg-faded">
    <a href="/"
       class="navbar-brand">Hamburger menu demo</a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#collapsingNavbar2"
            (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <div class="navbar-collapse collapse"
         id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </div>
</nav>
