<nav class="navbar navbar-light bg-faded">
    <a href="/"
       class="navbar-brand">Hamburger menu demo</a>
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#collapsingNavbar2"
            (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <div class="navbar-collapse collapse"
         id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </div>
</nav>
