<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <img width="50" src="https://ng-bootstrap.github.io/img/logo.svg">
        Welcome to {{title}}!
    </h1>
</div>


<div class="container">
    <div class="row">
        <p>This project aims to demonstrate the components of the
            <a href="https://ng-bootstrap.github.io"
               target="_blank">
            ng-bootstrap</a> project.
        </p>
    </div>
    <app-accordion></app-accordion>
    <app-hamburger></app-hamburger>
</div>
