<div class="row">
    <h2>Accordion Demo</h2>
</div>
<div class="row">
    <div class="col-xs-12">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngp-panel=0">
            <ngb-panel title="I was wondering, is it best to read The Hobbit series first or does it not matter?">
                <ng-template ngbPanelContent>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                    terry richardson ad squid. 3wolf moonofficiaaute, non cupidatat skateboard dolor brunch. Food
                    truck quinoa nesciunt laborum eiusmod. Brunch 3wolf moontempor,sunt aliqua put a bird on it
                    squid single-origin coffee nulla assumenda shoreditch et. Nihil animkeffiyehhelvetica,craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vicelomo.Leggingsoccaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                    probably haven't heard ofthemaccusamuslabore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelTitle><span>&#9733; <b>Fancy</b> title &#9733;</span></ng-template>
                <ng-template ngbPanelContent>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                    terry richardson ad squid. 3wolf moonofficiaaute, non cupidatat skateboard dolor brunch. Food
                    truck quinoa nesciunt laborum eiusmod. Brunch 3wolf moontempor,sunt aliqua put a bird on it
                    squid single-origin coffee nulla assumenda shoreditch et. Nihil animkeffiyehhelvetica,craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vicelomo.Leggingsoccaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                    probably haven't heard ofthemaccusamuslabore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Disabled" [disabled]="true">
                <ng-template ngbPanelContent>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                    terry richardson ad squid. 3wolf moonofficiaaute, non cupidatat skateboard dolor brunch. Food
                    truck quinoa nesciunt laborum eiusmod. Brunch 3wolf moontempor,sunt aliqua put a bird on it
                    squid single-origin coffee nulla assumenda shoreditch et. Nihil animkeffiyehhelvetica,craft beer
                    labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vicelomo.Leggingsoccaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                    probably haven't heard ofthemaccusamuslabore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
